.topic {
    background-color: lightblue;
    
}

.commentContainer, .authorContainer {
   display: flex;
   flex-direction: column;   
   height: 10vh;
}

.commentContainer{
    align-items: flex-end;
}

.authorContainer {
    align-items: flex-start;
}

.commentUser {
    display: flex;
    align-items: center;
}

#deletePostBtn {
    position: absolute;
    left: 1vw;
}

.postFooter {
    margin-top: 40px;
}