.topic {
    background-color: lightblue;
    
}

.commentContainer {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   height: 10vh;
}

.commentUser {
    display: flex;
    align-items: center;
}