.postList {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 5rem;
}

#createPostBtn {
    width: 20vw;
    margin-top: 2rem;
    font-size: 3vw;
}

.postCard {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.postCard h2, p {
    text-align: center;
}
.postCard p {
    color: gray;
}