.ProfilePage{
    padding: 2rem 3rem;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
}

.profileCard {
    margin-top: 0;
}

.listContainer {
    margin-left: 2rem;
    width: 50vw;
    text-align: center;
    
}

.profileList{
    text-decoration: none;
}

.profileList:hover {
    color: white;
   
}

.profileListBar:hover {
    background-color: lightgray;
}

.listGroup {
    margin-top: 2rem;
}