.addPost{
    margin: 0 3rem;
}

.addPostContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#addPostTitle {
    font-size: 2vw;
    color: white;
    background-color: skyblue;
    padding: 0 1rem;
    text-align: center;
}

