.addResource{
    margin: 0 3rem;
}

label {
    color: rgb(39, 99, 240);
    
}

.addResourceContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#addResourceTitle {
    font-size: 2vw;
    color: white;
    background-color: skyblue;
    padding: 0 1rem;
    text-align: center;
}

#addImage {
    width: 15vw;
}