.Footer{
    color: #FFF5EE;
    background-color: #000;
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.boy{
    background-color: rgb(11, 12, 13);
    color: #FFF5EE;
 }
 
 .girl{
     background-color:rgb(244, 233, 244);
     color: #10100f;
 }

 .Footer .contact{
    font-size: 1.5vw;
 }
 
 .Footer .socials{
    margin: 0.2vw;
 }