.App{
  background-color: rgb(12, 223, 177);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vw;
  
}

.landing-page-image{
  height: 45%;
  position: relative;
  top: 2vw;
}
