body {
  background-color: #e6c6af;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  html {
    position: relative;
    min-height: 100%;
    /*required for positioning of the footer to work*/
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .logo{
    min-height: 4vw;
    width: 2.5vw;
  }
  
  .Footer {
    display: flex;
    align-items: baseline;
    position: absolute;
    justify-content: center;
    bottom: 0;
    width: 100vw;
  }
  
  .contact {
    font-size: 1.5vw;
  }
  
  .socials {
    font-size: 0.1vw;
    margin: 0 0.2vw;
  }

  .footer-links{
    display: flex;
  }




